__pycache__/
*.pyc
.env
.venv/
env/
.vscode/
.build/
build/
dist/
logs/
output/
*.log
*.spec
.thumb/
Thumbs.db
examples/MEDICIONES ZFSI MES DE AGOSTO 2025 V2.xlsx
# opcional: artefactos comprimidos de releases (si usas GitHub Releases no los subas al repo)
# *.zip
# *.exe

# archivos locales
excel_para_entender
